:host {
    --ua-color-primary: white;
    --ua-color-secondary: #1668dc;
    --ua-color-hover: #15417e;
    --ua-bg-color: #001529;
    --ua-menu-width: 60px;
    --ua-result-zone-light-opacity: 0.80;
    --ua-result-zone-no-opacity: 1;
}

.primary {
    color: var(--ua-color-primary);
}

.secondary {
    color: var(--ua-color-secondary);
}

#uuvAssistantMenu {
    position: fixed;
    top: 0;
    z-index: 2147483537;
}

#uuvAssistantMenu > * {
    z-index: 2147483547;
}

#uuvAssistantResultZone {
    background-color: var(--ua-bg-color);
    position: fixed;
    right: var(--ua-menu-width);
    height: 100vh;
    top: 0;
    width: 550px;
    border-right: solid 1px var(--ua-color-primary);
    opacity: var(--ua-result-zone-no-opacity);
}

#uuvAssistantResultZone header, #uuvAssistantResultZone #toolbar {
    padding: 10px;
    border-bottom: solid 1px var(--ua-color-primary);
}

#uuvAssistantResultZone header h2 {
    font-size: 25px;
    margin: 0;
}

#uuvAssistantResultZone .cm-theme {
    overflow-y: auto;
    flex: 1 1 auto;
}

#uuvAssistantMainBar {
    position: fixed;
    height: calc(100vh);
    top: 0;
    right: 0;
    background-color: var(--ua-bg-color);
    min-width: var(--ua-menu-width) !important;
    width: var(--ua-menu-width) !important;
    box-shadow: -1px 0px 3px 0px #aaa !important;
    padding: 20px 0 10px 0;
}

#uuvAssistantMainBar .ant-menu {
    width: var(--ua-menu-width);
}

.uuvAssistantTitle {
    font-size: smaller;
    font-weight: bolder;
    text-align: center;
}

.uuvAssistantAvatarContainer {
    padding-bottom: 10px;
}

.uuvAssistantAvatar {
    background-color: transparent;
    height: 50px;
    width: 50px;
    border: 1.5px solid var(--ua-color-primary);
}

.uuvAssistantIcon {
    width: 40px;
    height: 40px;
}

.CodeMirror {
    overflow-y: auto;
}

.anticon {
    display: inline-flex !important;
}

.keyboardicon:hover {
    color: var(--ua-color-hover) !important
}

.keyboardicon.active {
    color: var(--ua-color-secondary) !important
}

.ant-layout-sider-children {
    height: 100%;
}

.ant-layout-sider-children > .ant-flex {
    height: 100%;
}

.ant-layout-sider-children .ant-menu {
    flex: 1 1 auto;
    background-color: var(--ua-bg-color);
}

.ant-layout-sider-children .ant-divider {
    border-color: slategrey;
    margin: 10px 0;
}

.uuv-gutter-warning {
    cursor: pointer;
}

#uuvAssistantMenu .menu-custom-svg-from-black-to-white {
    width: 2rem;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    margin: 0 0.65rem;
}

#uuvAssistantMenu .menu-native-svg-from-black-to-white {
    width: 2rem;
    margin: 0 1rem;
}

#uuvAssistantMenu .ant-menu-submenu-title {
    padding: 0;
    align-items: center;
    align-content: center;
    display: flex;
}

.menu-custom-svg-container.submenu {
    display: flex;
    align-content: center;
}

#uuv-action-menu-components-popup .ant-menu-item {
    padding: 1rem 0;
    height: calc(40px + 2rem);
}

#uuvAssistantMenu .ant-menu-submenu.ant-menu-submenu-vertical {
    margin: 20px 0;
}

#uuvAssistantMenu .settings {
    background-color: var(--ua-bg-color);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
